{% extends "layout.html" %}

{% block title %}
Home page
{% endblock %}

{% block body %}
	<h1>Hello, {{username.username}}!</h1>
	<a href="{{ url_for('logout')}}">Log out</a>
	
	<h2>Search for a book</h2>
		<form action="{{ url_for('search') }}" method="post">
			<label>Search for a book</label>
			<div class="form-group">
			  	<input class="form-control" type="text" name="search" placeholder="Enter ISBN number, book title or author of the book"> 
			</div>
			<button type="submit" class="btn btn-primary">Find</button>
		</form>

{% endblock %}